body {
  font-family: "Questrial";
  font-style: normal;
  font-weight: 400;
  width: 1440px;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}
/* Background */
.backGround {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
}
/* Navbar */
.nav {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.logo {
  padding-left: 47px;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: black;
}
.nav_links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  letter-spacing: 0.1em;
}
.nav_links .nav_link {
  margin-right: 40px;
  font-family: "Questrial";
  font-style: normal;
  font-size: 26px;
  font-weight: 400;
  line-height: 27px;
}

/* Hero */
.section1 {
  position: relative;
  width: 100%;
  height: 875px;
  overflow: hidden;
}
.section1 .hero {
  padding-top: 50px;
  padding-left: 79px;
  width: 59vw;
  height: 393px;
  font-size: 72px;
  line-height: 74px;
  display: flex;
  align-items: center;
  letter-spacing: 0.075em;
  color: #000000;
}
.section1 .blocks img {
  position: absolute;
  width: 87%;
  right: 0px;
  top: 145px;
  z-index: 3;
}
.section1 .tiles img {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
}

/* ABOUT Section */
.section2 {
  width: 1200px;
  margin: auto;
}
.section2 .aboutxcash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  margin: 40px auto;
}
.section2 .aboutxcash h2 {
  font-size: 96px;
  color: #ffffff;
  align-self: end;
}
.section2 .aboutxcash img {
  width: 396px;
  height: 113px;
  left: 713px;
  top: 1169px;
}

.section2 .p1 {
  width: 1052px;
  height: 61px;
  left: 194px;
  top: 1393px;

  font-size: 24px;
  line-height: 25px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.section2 .p2 {
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #ffffff;
  margin: 50px 0px;
}
.section2 .features {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  height: 285px;
}
.section2 .features .feature::before {
  content: "\2022";
  color: #fa741c;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.section2 .features .feature span {
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-weight: bold;
}
.section2 .features .feature {
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

/* Planets */
.section3 {
  left: 0px;
  top: 2049px;
  width: 100%;
  height: 1024px;
  background: url(/public/images/stars.jpg) no-repeat;
  background-size: contain;
}
.section3 .xcash,
.section3 .xcash img {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 50px 0px 50px 50px;
  position: relative;
}
.footer .left {
  width: 50%;
}
.footer .left .one {
  display: flex;
  justify-content: space-between;
}

.footer .left .two {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: -80px;
  top: 0px;
  background-image: url(/public/images/Tiles.png);
  background-repeat: no-repeat;
  /* background-color: green; */
  z-index: 100;
}
