@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Quicksand:wght@700&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Questrial', sans-serif;
}

/* font-family: 'Questrial', sans-serif; */
/* font-family: 'Quicksand', sans-serif; */